@{
    ViewBag.Title = "Index";
}

<h2>NServiceBus Pub-Sub</h2>


@Html.ActionLink("MyPublisher", "MyPublisher","User")<br />
@Html.ActionLink("Subscriber1", "Subscriber1","User")<br />
@Html.ActionLink("Subscriber2", "Subscriber2","User")<br />
@Html.ActionLink("Audit", "Audit","User")<br />
@Html.ActionLink("Errors", "Errors","User")<br />
@Html.ActionLink("Subscription", "Subscription","User")<br />
